html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fefae0;
  overflow: "hidden";
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
a {
  text-decoration: none;
}

#app {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fefae0;
  overflow: "hidden";
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fefae0;
    overflow: "hidden";
  }
  #app {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fefae0;
    overflow: "hidden";
  }
}
