html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

a {
  color: #d4a373;
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
}

a:hover {
  color: #d4a373;
  text-decoration: underline;
}

.MuiContainer-root {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#app {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fefae0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.testing {
  position: absolute;
  margin-left: 20%;
  margin-bottom: 20%;
  z-index: 2;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: "1.5rem";
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #d4a373;
}

.mapbox-directions-instructions {
  overflow: auto !important;
}

div#geocoder-search {
  width: 25em;
}

#get-direction {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 50px;
  margin-bottom: 1.8rem;
}

#end-direction {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 50px;
  margin-bottom: 1.8rem;
}

@media only screen and (max-width: 700px) {
  body,
  #app {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fefae0;
    overflow: hidden;
  }

  #get-direction {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 50px;
  }

  #end-direction {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 50px;
  }
}
