html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fefae0;
  overflow: "hidden";
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
a {
  text-decoration: none;
}

.MuiContainer-root {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#app {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fefae0;
  overflow: "hidden";
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.map-container {
  height: 100vh;
  width: 100vw;
}


.testing {
  margin-left: 20%;
  margin-bottom: 20%;
}



.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapbox-directions-instructions {
  overflow: auto !important;
}

div#geocoder-search {
  width: 25em;
}


@media only screen and (max-width: 600px) {
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fefae0;
    overflow: "hidden";
  }
  #app {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fefae0;
    overflow: "hidden";
  }
}
